<div class="card">
  <div class="card-header">{{ data.title }}</div>
  <div class="card-body">
    <div class="row">
      <!-- Render an image of the current environment -->
      <div class="col-md-3 mb-3">
        <div class="card">
          <a href="{{ data.last_image_path }}">
            <img class="card-img-top" src="{{ data.last_image_path }}">
          </a>
        </div>
      </div>
      <!-- Render each chart inside `data.charts` using chart.js -->
      {% for title, chart in data.charts.items() %}
        <div class="col-md-3 {{ 'mb-3' if not loop.last }}">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ title | title }}</h5>
              <canvas id="{{ title }}-chart"></canvas>
              <script type="text/javascript">
                new Chart("{{ title }}-chart", {{ chart | tojson }});
              </script>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
